.app-container {
  background-color: #ffc2a0;
  height: 100%;
  padding: 100px 120px;
  font-family: 'Roboto';
}
.todos-container {
  background-color: #ffffff;
  border-radius: 15px;
  flex-grow: 1;
  padding: 20px 30px;
}
.heading {
  color: #ff8542;
  font-size: 40px;
  text-align: center;
}
.todos-list {
  list-style-type: none;
}
